.header {
    display: flex;
    justify-content: space-between
}

.content {
    width: 50%;
    margin: 50px auto;
}

.left {
    margin: 3px 3px 3px 3px;
}

.mainContent {
    width: auto;
    height: 400px;
    background: lightgreen;
    border: solid blanchedalmond;
    margin-bottom: 10px;
    margin-top: 10px;
}

.quicklinks {
    padding-left: 105px;
}

.footer {
    display: flex;
    /* justify-content: space-around; */
    border: solid blanchedalmond;
    height: 200px;
}

.historyJS.history {
    width: 30%;
    padding: 10px;
}

.fav {
    padding: 10px;
}

.favRow {
    width: 140px;
    height: 120px;
}

.weather {
    border: solid blanchedalmond;
    width: 40%;
    text-align: center;
}